<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Dashboard</title>
		<style>
			button
			{
				display: inline-block;
				width: 30%;
				height: 40px;
				margin: 1%;
				border-radius: 8px;
				border: 2px solid grey;
				background-color: #f2f2f2;
				color: grey;
				text-align: center;
				font-size: 17px;
				cursor: pointer;
			}

			table
			{
				width:100%;
				border-collapse:collapse;
				text-align: left;
			}

			td, th, tr
			{
				border: thin solid grey;
				padding:5px;
				width:15%
			}

		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="vue.js"></script>
	</head>

	<script>

	/* 1 . Assume data in the 'pending actions' table will be available to you
	as in the following 'pending_items_data' variable. (A list of disctionaries)
	- No need to anything here.

	Go to 2.
	*/

	var pending_items_data = [{
	  'item_id': 1,
	  'item_description': 'Wool Sweater',
	  'arrival_time': '4:32 PM',
	  'status': 'completed'
	},{
	  'item_id': 2,
	  'item_description': 'White Plates',
	  'arrival_time': '4:36 PM',
	  'status': 'in_transit'
	},{
	  'item_id': 6,
	  'item_description': 'Newspaper',
	  'arrival_time': '7:00 PM',
	  'status': 'scheduled'
	},{
	  'item_id': 13,
	  'item_description': 'Book_1559',
	  'arrival_time': '7:00 PM',
	  'status': 'scheduled'
	},{
	  'item_id': 14,
	  'item_description': 'Book_1560',
	  'arrival_time': '7:00 PM',
	  'status': 'scheduled'
	}]

	var user_data = {
		'user_id' : 55,
		'name' : 'John',
		'lastname': 'Brown'
	}

	</script>



	<body>

		<!-- 3. After step 2., encapsulate all html in a <div> element with
		the id="[the 'el' indicated in the Vue object (in step 2.) - in this case 'index_page']"

		Go to 4.
		-->

		<div id="index_page">

			<h3><div>Hello, {{user_data.name}} </div><br/>

			<center><button/> Drop </button> <!-- Link to Drop-off Page (on hold) -->
			<button/> Pick Up </button> <!-- Link to Pickup Page (on hold) -->
			<button onclick="window.location.href='all_items.html'"> All Items </button></center><br /><hr /></h3><br /> <!-- Link to All Items Page -->

				<!-- Include "New" button to possibly link to New Item Page -->

			<h3><caption> Pending Actions </caption></h3>
			<table>
				<tr>
					<th>Items:</th>
					<th>Arrival:</th>
				</tr>
				<!-- 4. Now you can access the 'pending_items_data' through simple html constructs. In this case
				by using a 'v-for=""' to iterate through a list variable, as in the <tr> element below.

				Go to 5.
				-->
				<tr v-for="pending_item in pending_items_data">
					<!-- 5. Each variable in the 'pending_items_data' list now iteratively becomes 'pending_items'.
					Thus it can be accessed in the follwing way: 1. in double brackets({{}}), 2.the key of the data you want

					Go to Next Steps.
					-->
					<td><div>{{pending_item.item_description}}</div></td>
					<td><div>{{pending_item.arrival_time}}</div></td>
				</tr>
			</table>
		</body>

	</div>

	<script>

	/*2. Place that data variable in the 'data' variable of the new Vue object in the following way.

	Go to 3.
	*/

		var indexPage = new Vue({
			el: '#index_page',
			data:
			{
				pending_items_data,
				user_data
			}
		});

	</script>

</html>

<!--
Next Steps:

Please replace 'Y/N' next to 'Hello ', to be as following: 'John Brown', by:
	1. making the 'user_data' variable (at step 1.) avaialable in the Vue object (at step 2.)
		(by placing it in the 'data' after 'pending_items_data' separated by a comma)
	2. using double braces ({{}}) as in step 5., to access name and lastname of the 'user_data'
		(ie. {{user_data.name}} would render 'John')


-->
